{% extends "meta.html" %}
{% block layout %}
	<header>
		<div class="menu-component">
			{% if user is defined and user is not none %}
				<a title="Profile" class="widget self" href="{{ url_for("user.profile", owner=user) }}">{{ user.name }}</a>
			{% endif %}
		</div>
		{% if icon is not none %}
			<img id="icon" src="{{ icon }}" />
		{% endif %}
		<div class="menu-component">
			{% if user is defined and user is not none %}
				<form action="{{ url_for("site.logout_trampoline") }}" method="POST">
					<button title="Logout" class="widget logout" type="submit">
						Logout
					</button>
				</form>
			{% endif %}
		</div>
	</header>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class="flashes">
				{% for cat, msg in messages %}
					<li class="{{ cat }}">{{ msg }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<main>
		{% if user is defined and user is not none %}
			<ul id="visibility-select">
				<li class="private"><a title="Private files" class="widget" href="{{ url_for("storage.main", owner=owner, visibility=model.Visibility.private) }}">Private</a></li>
				<li class="public"><a title="Public files" class="widget" href="{{ url_for("storage.main", owner=owner, visibility=model.Visibility.public) }}">Public</a></li>
			</ul>
		{% endif %}
		{% block content %}{% endblock %}
	</main>
	<footer>
		{% if user is defined and user is not none %}
			Logged in as <a href="{{ url_for("user.profile", owner=user) }}"><span class="self-name">{{ user.name }}</span></a>
		{% else %}
			Not yet logged in
		{% endif %}
	</footer>
{% endblock %}
