{% extends "layout.html" %}
{% block title %}Delete {{ owner.name }}{% endblock %}
{% block head %}
	{{ super() }}
	<link href="{{ url_for("static", filename="for/user/delete.css") }}" rel="stylesheet" />
{% endblock %}
{% block content %}
	<form class="delete" action="{{ url_for("user.delete_trampoline", owner=owner) }}" method="POST">
		<label for="name">Username</label>
		<input type="text" id="name" name="name" placeholder="Type username to confirm..." required />
		<button type="submit">Delete</button>
	</form>
{% endblock %}
