{% extends "layout.html" %}
{% block title %}Settings for {{ owner.name }}{% endblock %}
{% block head %}
	{{ super() }}
	<link href="{{ url_for("static", filename="for/user/settings.css") }}" rel="stylesheet" />
{% endblock %}
{% block content %}
	<form class="user" action="{{ url_for("user.settings_trampoline", owner=owner) }}" method="POST">
		<span class="caption">Change username</span>
		<label for="name">Username</label>
		<input type="text" id="name" name="name" placeholder="Username" value="{{ owner.name }}" required />
		<span class="caption">Select link conversion mode</span>
		<select name="link-conversion">
			{% for lc in model.LinkConversion %}
				<option value="{{ lc }}" {% if lc == owner.link_conversion %}selected{% endif %}>{{ lc.format() }}</option>
			{% endfor %}
		</select>
		{% if user == owner %}
			<label for="password">Password</label>
			<input type="password" id="password" name="password" placeholder="Current password" required />
		{% elif user.rank > owner.rank and user.rank >= model.Rank.ADMIN %}
			<label for="rank">Rank</label>
			<select id="rank" name="rank" required />
				{% for r in model.Rank %}
					{% if r < user.rank %}
						<option value="{{ r }}">{{ r.format() }}</option>
					{% endif %}
				{% endfor %}
			</select>
		{% endif %}
		<button type="submit">Save settings</button>
	</form>
{% endblock %}
