{% extends "layout.html" %}
{% block title %}Delete {{ owner.name }}{% endblock %}
{% block content %}
  <h1>Delete {{ owner.name }}</h1>
  <form class="delete-user" action="{{ url_for("user.delete_handler", owner=owner) }}" method="POST">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="Name" required />
    {% if user == owner %}
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Current password" required />
    {% endif %}
    <button type="submit">Delete</button>
  </form>
{% endblock %}
