{% extends "layout.html" %}
{% block title %}Password settings for {{ owner.name }}{% endblock %}
{% block content %}
  <h1>Password</h1>
  <form class="user-password" action="{{ url_for("user.password_handler", owner=owner) }}" method="POST">
    {% if user == owner %}
      <label for="password">Current password</label>
      <input id="password" type="password" name="password" placeholder="Current password" required />
    {% endif %}
    <label for="new-password">New password</label>
    <input id="new-password" type="password" name="new-password" placeholder="New password" required />
    <label for="re-password">Retype password</label>
    <input id="re-password" type="password" name="re-password" placeholder="Retype password" required />
    <button type="submit">Confirm</button>
  </form>
{% endblock %}
