{% extends "layout.html" %}
{% block title %}Profile for {{ owner.name }}{% endblock %}
{% block content %}
  <h1>{{ owner.name }}</h1>
  {% if user is not none and user.has_access_to(owner) %}
    <nav class="locations">
      <ul>
        <li>
          <a href="{{ url_for("storage.browse", owner=owner, visibility=model.Visibility.private) }}">Private</a>
        </li>
        <li>
          <a href="{{ url_for("storage.browse", owner=owner, visibility=model.Visibility.public) }}">Public</a>
        </li>
      </ul>
    </nav>
    <nav class="user-settings">
      <ul>
        <li>
          <a href="{{ url_for("user.identifier", owner=owner) }}">Identifier</a>
        </li>
        <li>
          <a href="{{ url_for("user.name", owner=owner) }}">Name</a>
        </li>
        <li>
          <a href="{{ url_for("user.password", owner=owner) }}">Password</a>
        </li>
        <li>
          <a href="{{ url_for("user.delete", owner=owner) }}">Delete</a>
        </li>
        {% if user.rank > owner.rank and user.rank >= model.Rank.ADMIN %}
          <li>
            <a href="{{ url_for("user.rank", owner=owner) }}">Rank</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  {% if user is not none and user.rank >= model.Rank.ADMIN and users is defined and users is not none %}
    <h2>Other users</h2>
    <ul class="user-listing">
      {% for u in users %}
        {% if u != owner %}
          <li>
            <a href="{{ url_for("user.profile", owner=u) }}" }}>{{ u.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  {% if user is not none and user.rank >= model.Rank.ADMIN %}
    <a href="{{ url_for("user.register") }}">Register a new user</a>
  {% endif %}
{% endblock %}
