{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
  <h1>Register</h1>
  <form class="user-register" action="{{ url_for("user.register_handler") }}" method="POST">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="Username" required />

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Password" required />

    <label for="rank">Rank</label>
    <select id="rank" name="rank" required>
      {% for r in model.Rank %}
        {% if r < user.rank %}
          <option value="{{ r.name }}">{{ r }}</option>
        {% endif %}
      {% endfor %}
    </select>

    <button type="submit">Create user</button>
  </form>
{% endblock %}
