{% extends "layout.html" %}
{% block title %}Files from {{ owner.name }}{% endblock %}
{% block head %}
	{{ super() }}
	<link href="{{ url_for("static", filename="for/storage/main.css") }}" rel="stylesheet" />
	<script src="{{ url_for("static", filename="for/storage/main.js") }}"></script>
{% endblock %}
{% block content %}
	{% if files is defined %}
		<a title="Parent directory" {% if parent is not none %}href="{{ parent }}"{% endif %} class="up widget">Up</a>
		<ul class="listing {{ visibility }}">
			{% for f in files %}
				{% set fmtname = f.path.name + ("/" if f.path.is_dir() and not (f.path|string).endswith("/") else "") %}
				<li class="entry">
					<div class="entry-component">
						<a class="access" href="./{{ fmtname|urlencode }}" }}>
							<span class="basename">{{ fmtname }}</span>
						</a>
						{% if f.visibility == model.Visibility.public %}
							{% if user.link_conversion == model.LinkConversion.ID %}
								<a class="link-content" href="{{ url_for("storage.main_id", visibility=visibility, owner=owner, path=f.path.relative_to(owner.home(f.visibility))) }}">ID link</a>
							{% endif %}
							{% if user.link_conversion == model.LinkConversion.NAME %}
								<a class="link-content" href="{{ url_for("storage.main", visibility=visibility, owner=owner, path=f.path.relative_to(owner.home(f.visibility))) }}">Name link</a>
							{% endif %}
						{% endif %}
					</div>
					<div class="entry-component right">
						<details class="attributes">
							<summary title="Details"><div class="widget">Attributes</div></summary>
							<dl>
								<dt>Modification</dt>
								<dd>{{ f.attributes["modification"].strftime("%B %d, %Y") }}</dd>
								<dt>Symlink</dt>
								<dd>{% if f.attributes["symlink"] %}Yes{% else %}No{% endif %}</dd>
								<dt>Size</dt>
								<dd>{{ model.File.format_size(f.attributes["size"]) }}</dd>
							</dl>
						</details>
						<a title="Settings" class="widget settings" href="{{ url_for("storage.settings", owner=owner, visibility=visibility, path=f.path.relative_to(owner.home(f.visibility))) }}">Settings</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<form class="upload" action="{{ url_for("storage.main_trampoline", visibility=visibility, owner=owner, path=current) }}" method="POST" enctype="multipart/form-data">
		<label title="Upload files" class="widget" for="files">Upload</label>
		<input type="file" name="files" id="files" multiple onchange="form.submit()" required />
		<button type="submit">Upload</button>
	</form>
	<form class="make-directory" action="{{ url_for("storage.main_trampoline", visibility=visibility, owner=owner, path=current) }}" method="POST">
		<button title="Make directory" class="widget" type="submit">Make directory</button>
		<input title="Destination path" type="text" name="directory" placeholder="Make directory..." required />
	</form>
{% endblock %}
