{% extends "meta.html" %}
{% block layout %}
  {% if user is defined and user is not none %}
    <header>
      <nav class="locations">
        <ul>
          <li>
            <a href="{{ url_for("storage.browse", owner=user, visibility=model.Visibility.private) }}">Private</a>
          </li>
          <li>
            <a href="{{ url_for("storage.browse", owner=user, visibility=model.Visibility.public) }}">Public</a>
          </li>
        </ul>
      </nav>
      <nav class="session">
        <ul>
          <li>
            <a href="{{ url_for("user.profile", owner=user) }}">{{ user.name }}</a>
          </li>
          <li>
            <form action="{{ url_for("site.logout_handler") }}" method="POST">
              <button class="logout" type="submit">
                Logout
              </button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
  {% endif %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    <ul class="flashes">
      {% for cat, msg in messages %}
        <li class="{{ cat }}">{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endwith %}
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    filenavi
  </footer>
{% endblock %}
