form.move,
form.toggle,
form.remove
{
	display: flex;
	flex-direction: row;
}

form.move input[type=text],
form.toggle input[type=text]
{
	flex-grow: 1;
	margin-left: var(--common-margin);
	height: var(--widget-square);
}

form.move,
form.toggle,
form.remove {
	margin-top: auto;
	margin-bottom: auto;
}

form.move button[type=submit],
form.toggle button[type=submit],
form.remove button[type=submit] {
	margin-top: auto;
	margin-bottom: auto;
}

form.move button[type=submit] {
	background: url("/static/icons/location.svg");
	background-size: cover;
}

form.toggle.private button[type=submit] {
	background: url("/static/icons/cloud.svg");
	background-size: cover;
}

form.toggle.public button[type=submit] {
	background: url("/static/icons/lock.svg");
	background-size: cover;
}

form.remove button[type=submit] {
	background: url("/static/icons/rubbish.svg");
	background-size: cover;
}

form.move label,
form.toggle label,
form.remove label
{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: var(--common-margin);
}

form.move label,
form.toggle label
{
	background: url("/static/icons/bolt.svg");
	background-size: cover;
}

form.remove label {
	background: url("/static/icons/reload.svg");
	background-size: cover;
}

form.move input[type=checkbox],
form.toggle input[type=checkbox],
form.remove input[type=checkbox]
{
	display: none;
}

form.move input[type=checkbox]:not(:checked) + label,
form.toggle input[type=checkbox]:not(:checked) + label,
form.remove input[type=checkbox]:not(:checked) + label
{
	opacity: 0.2;
}
